body {
    background-color: lightgray;
    font-family: "Times New Roman", Times, serif;
}

h1 {
     color: rgb(12, 173, 167);
     background-color: white;
     font-weight: bold;
}

h3 {
     color: rgb(12, 173, 167);
     background-color: white;
     font-weight: bold;
}

p {
   font-size: 12
} 

.navbar{
		background: white;
		}

	.navbar-brand{
		padding: 15px;
		margin-right: 10px;
		margin-left: 20px;
		background: #2F8EA0;
		margin-left: 20px;
		font-size: 40px;
		color: white;
		}
