body {
    background-color: lightgray;
    font-family: "Times New Roman", Times, serif;
}
.navbar{
	background: white;
}

h1 {
     color: rgb(12, 173, 167);
     background-color: white;
     font-weight: bold;
}

h3 {
     color: rgb(12, 173, 167);
     background-color: white;
     font-weight: bold;
}

p {
   font-size: 12
}

.container {
  background-color: white;
}
